<h3>Your match!</h3>
<p>Date: <%=Date.today%><p>
<% your_match = @user.find_match %>
<p> You are <%= @user.email %>. You are  matched with <%= your_match %>.</p>
 <p> Matching pairs are: <br> </p>
 <% @user.matched_pairs.each do |pair| %>
<p> <%= pair %><br></p>
 <%end%>
