<h3>Your match!</h3>
<p>Date: <%=Date.today%><p>
<% your_match = @user.find_match %>
<p> You are <%= @user.email %>. You are  matched with <%= your_match %>.</p>
 <p> My match for today : <br> </p>
 <p>Pair: <%= @user.my_match_a_day %> </p>
